@tailwind base;
@tailwind components;
@tailwind utilities;
  

@layer base {
  body {
    @apply bg-white dark:bg-black;
  }
  body * {
    @apply border-neutral-100 dark:border-neutral-800;
    box-sizing: border-box;
  }
}

@layer components {

  .paragraph {
    b {
      @apply bg-black/80 text-white dark:bg-white/80 dark:text-black;
      @apply font-normal !px-2;
    }
  }

  .hero-bg-light {
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    box-shadow: 0 0px 20px 10px rgba(252,70,107,0.7);
  }
  .hero-bg-dark {
    background: radial-gradient(circle, rgb(80, 103, 216) 0%, rgb(223, 87, 114) 100%);
    box-shadow: 0 0px 20px 10px rgb(223, 87, 114);
  }

  .hero-bg {
    @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 rounded-2xl w-0 h-1/4 opacity-0;
    @apply hero-bg-light dark:hero-bg-dark
  }

  .card {
    @apply bg-white/30 border-4 border-white shadow-inner p-2 rounded;
  }
}

